{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
►►► theme/views/modules_index
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}
{% extends '@snippets/layouts/default.twig' %}

{% block page %}
	{% set user = kirby.user() %}
	{% if user %}

		{# //////////////////////////////////////////////////////////////////////// #}
		<main>
			<!-- ###### TOP START ###### -->
			<section class="modules-hero">
				<div class="row align-start-start">
					<div class="column-14 pt-60 pb-60 lg-offset-1">
						<a href="/">
							<div class="back-module-icon">
								<svg class="icon">
									<use xlink:href="#icon-fleche-gauche"/>
								</svg>
							</div>
							<h4>
								Revenir à l'accueil
							</h4>
						</a>
					</div>
				</div>
				<div class="row align-start-start pb-90">
					<div class="sm-column-22 sm-offset-1 lg-column-11 lg-offset-1">
						<h1></h1>
					</div>
				</div>
			</section>
			<!-- ###### TOP END ###### -->
		</main>

	{% else %}
		<main>
			<!-- ###### TOP START ###### -->
			<section class="modules-hero">
				<div class="row align-start-start">
					<div class="column-14 pt-60 pb-60 lg-offset-1">
						<a href="/">
							<div class="back-module-icon">
								<svg class="icon">
									<use xlink:href="#icon-fleche-gauche"/>
								</svg>
							</div>
							<h4>
								Revenir à l'accueil
							</h4>
						</a>
					</div>
				</div>
				<div class="row align-start-start pb-90">
					<div class="sm-column-22 sm-offset-1 lg-column-11 lg-offset-1">
						<h1>
							{{ site.if_not_connected|default(0) ? site.if_not_connected.kt.inline|raw : "" }}
						</h1>
					</div>
				</div>
			</section>
			<!-- ###### TOP END ###### -->
		</main>
	{% endif %}
{% endblock %}
