.hero-travel {
    position: relative; 
    padding: 16rem 0;
    background-image: url(https://youmatter.world/app/uploads/sites/2/2019/11/travel-world.jpg);
    background-size: cover;
}

.travel-form {
    padding: 3rem;
    background-color: rgba(clr(tertiary), 0.8);
}