.connexion-hero {
  position: relative;
  background-color: clr(primary);
  color: white;
}

.connexion-informations-container {
  position: relative;
  padding: 4rem 0;
  &.border {
    border-bottom: 1px solid clr(tertiary);
  }
}
