.organization-hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1,
  h4,
  p {
    color: white !important;
  }

}

.strong-points {
  .strong-points-description {
    h1 {
      font-size: 2.6rem;
      font-weight: 1.19;
    }
  }

  .strong-points-contents {
    position: relative;
    .strong-points-icon {
      position: absolute;
      width: 0;
      top: 0;
      left: 0;
      transform: translate(0%, 85%);
      width: 5rem;
      padding: 0.2rem 0.5rem;
      color: clr(tertiary);
    }
  }

  .strong-points-contents:not(:last-child) {
    border-bottom: 1px solid clr(common-gray);
  }

  .strong-points-img {
    position: relative;
    width: 100%;
    height: 70rem;
    background-image: url('/assets/images/hotels.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.organization-citation {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 7rem;
  padding-top: 6rem;
  h2 {
    position: relative;
    &::before {
      content:"“";
      position: absolute;
      top: 0;
      left: 15%;
      transform: translate(-100%, 10%);
      font-size: 100px;
      line-height: 1.18;
      color: clr(secondary);
      @media #{$sm} {
        top: 0;
        left: 0;
        transform: translate(25%, -10%);
      }
    }

    &::after {
      content: "”";
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(0, 25%);
      font-size: 100px;
      line-height: 1.18;
      color: clr(secondary);
      @media #{$sm} {
        bottom: 0;
        right: 0;
        transform: translate(-25%, 40%);
      }
    }
    .citation-p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: auto;
      transform: translate(60%, -50%);
      @media #{$sm-only} {
        transform: translate(14%, 100%);
      }
    }
  }
}

.our-team {
  .our-team-description {
    h1 {
      font-size: 2.6rem;
      font-weight: 1.19;
    }
  }

  .our-team-contents {
    position: relative;
    .our-team-icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, 85%);
      width: 5rem;
      padding: 0.2rem 0.5rem;
      color: clr(tertiary);
    }
  }

  .our-team-contents:not(:last-child) {
    border-bottom: 1px solid clr(tertiary);
  }

  .our-team-img {
    position: relative;
    width: 100%;
    height: 70rem;
    background-image: url('/assets/images/hotels.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
