{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
►►► theme/snippets/layouts/default
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}
<!DOCTYPE html>
<html lang="fr">
	{% include '@snippets/layouts/_head.twig' %}
	<body id="{{ page.template }}">
		{% include '@snippets/includes/sprite.twig' %}
		{% include '@snippets/includes/menu.twig' %}
		{% block page endblock %}
		{% include '@snippets/includes/footer.twig' %}

		{{ isDebug() ? js('assets/main.js') : fpJS('assets/main.js') }}

		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	</body>
</html>
