{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
►►► theme/snippets/layouts/default
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}
<!DOCTYPE html>
<html lang="fr">
	{% include '@snippets/layouts/_head.twig' %}
	<body id="{{ page.template }}">
		{% include '@snippets/includes/sprite.twig' %}
		{% include '@snippets/includes/menu.twig' %}
		{% block page endblock %}
		{% include '@snippets/includes/footer.twig' %}

		{% if site.latitude|default(0) and site.longitude|raw %}
			<script type="text/javascript" src="https://openlayers.org/en/latest/build/ol.js"></script>
			<script src="https://unpkg.com/ol-popup@4.0.0"></script>
			<script type="text/javascript">
				var mapCoordinates = {
					"latitude": "{{ site.latitude matches '/^[-+]?[0-9]*\\.?[0-9]+$/' ? site.latitude : 0 }}",
					"longitude": "{{ site.longitude matches '/^[-+]?[0-9]*\\.?[0-9]+$/' ? site.longitude : 0 }}"
				}
			</script>
		{% endif %}

		{{ isDebug() ? js('assets/main.js') : fpJS('assets/main.js') }}

		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	</body>
</html>
